body {
    margin: 0;
    background-color: beige;
}

header {
    height: 100px;
    background-color: cadetblue;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
}

header h1 {
    margin-top: auto;
    margin-bottom: auto;
}


.logout  {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

.hide {
    display: none;
}

/* Index */

#index .login {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 35px;
}



#index .login input {
    margin-right: 10px;
}

#index .register {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#index .register form {
    display: flex;
    flex-direction: column;
}

#index .register input {
    width: 200px;
    margin-top: 5px;
}

#index .register .password {
    display: flex;
    flex-direction: row;
}

.errorbox {
    width: 170px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: crimson;
}

.errorbox p {
    margin: 0;
}

.login .errorbox {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 10px;
    padding-right: 19   0px;
}
/* Chat */

#chat {
    display: flex;
    flex-direction: row;
}

#chat .rightbox {
    width: 85vw;
    height: 100vh;
}

#chat .leftbox {
    width: 15vw;
    height: 100vh;
    border-left: solid 2px black;
    display: flex;
    flex-direction: column;
}

#chat .search {
    height: 50px;
    justify-content: center;
}

#chat .search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#chat .search input {
    margin-top: auto;
    margin-bottom: auto;
}

#chat ul {
    list-style-type: none;
}

#chat .result {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

